@charset "UTF-8";

@media only screen and (min-width: 860px) {
    #container {
        display: grid;
        justify-content: center;
        width: 50vw;
        grid-template-columns: 1fr;
    }

    input[type="text"] {
        width: 300px;
    }

    #divRange {
        display: flex;
    }

    #containerRange {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px;
    }

    #out {
        display: inline;
        padding-left: 3px;
    }

    #containerCheckRadio {
        display: flex;
        margin: auto;
    }
}