@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body, main {
    height: 100vh;
    background-color: rgb(221, 218, 218);
    overflow: hidden;
}

#senhaGerada {
    display: flex;
    justify-content: center;
    margin: 80px 0px 50px;
}

#senhaGerada > input {
    width: 65vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.1em rgb(155, 154, 154);
    border: 0;
    outline: 0;
    font-size: 2em;
}

#container {
    margin: auto;
    background-color: lightblue;
    width: 70vw;
    font-size: 1.5em;
    padding: 10px;
}

#container > div {
    padding: 10px;
}

input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
